
<div class='offset4 span4'>

  <%= simple_form_for(:session, :url => sessions_path, :html => {:class => 'well form' }) do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit, :value => "Sign In"%>
    <%= link_to 'New User', signup_path, :class => 'btn btn-primary'%>
  <% end -%>

</div>
