<h1>Sign Up</h1>

<%= simple_form_for @user, :html => {:class =>'form-vertical'} do |f| -%>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit %>
<% end -%>

