<%= tag :meta, :name=> 'start_up_periods', :content=> @startUps%>
<%= tag :meta, :name=> 'connection_periods', :content=> @connections%>

<h3 class="Msg well" style="text-align: center">
  Press j to begin practicing your combo!
</h3>

<% @combo_items.each_with_index do |c, i| %>
  <div class="span2">
    <%= c.move.name %>
  </div>

  <div class="span9">
    <div class="progress" id="<%="progress#{i}"%>" >
      <div class="bar" id="<%="pbar#{i}"%>"></div>
    </div>
  </div>

  <div class="span1">
    <i class="" id=<%="icon#{i}"%></i>
  </div>
<% end %>

