<h1>Create a Combo</h1>

<%= form_for(@combo) do |f| %>
	<%= render 'shared/error_messages', :target => @combo %>
  <div class="field">
    <%= f.label "Combo Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Finish" %>
  </div>
<% end %>
