<h1>Create a Combo</h1>

<div class="offset4 span4">

  <%= render 'shared/error_messages', :target => @combo %>

  <%= simple_form_for @combo, :html => {:class => 'well form-vertical'} do |f| %>
    <%= f.association :character, :include_blank => false%>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>

</div>
