
<h1 class="span10">
  <%= "#{@combo.name}" %>
  <small>Combo by <%= "#{@user.username}" %></small>
</h1>

<div class="span2">
  <%= link_to image_tag("portraits/#{@character.name.downcase}-face.gif"), character_path(@character), :class => "span2" %>
  <h6><%= @character.name %></h6>
</div>

<div>
  <h2>Instructions</h2>
  <p class="well">
  Use the 'j' key to start your combo. As soon as the key is pressed, the
  combo will begin and when the words "LINK" appear, press the key to
  simulate the right timing of the combo. Be aware that it might take time to
  get used to the rhythm. The best thing to do is break down each part and
  then continue once the timing is understood.
  </p>	
</div>

<div>
  <h2>Combo Sequence</h2>
  <div id="combo_string" class = "well" style="text-align: center">
    <%= @combo_items.map{|c| c.move.name}.join ' -> ' %>
  </div>
  <% unless @next_moves.empty? %>
    <div class="row">
      <%= link_to "Add a move", new_combo_item_path(:character_id => @character, :combo_id => @combo), :class => 'btn btn-primary offset5 span2' %>
    </div>
  <% end %>
</div>

<div class="row">
<h2>The Trainer</h2>
<% if (@combo_items.length > 1) %>
  <%= render 'trainer'%>
<% else %>
  <div class = "alert" style = "text-align:center" >
    Add more moves to make it a combo!
  </div>
<% end %>
</div>

<div class="row">
  <h2>Input</h2>
  <div id="inputs" class = "well" style = "text-align:center" ></div>
</div>
