#Controls 
	Key Controls
		= image_tag "icons/sf3_kick_light.png"
		J
		= image_tag "icons/sf3_kick_medium.png"
		K
		= image_tag "icons/sf3_kick_hard.png"
		L
		= image_tag "icons/sf3_punch_light.png"
		U
		= image_tag "icons/sf3_punch_medium.png"
		I
		= image_tag "icons/sf3_punch_hard.png"
		O