<!DOCTYPE html>
<html>
  <head>
    <title>Combo Execution Trainer</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <!--
    <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
    -->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render 'shared/navbar'%>

    <%= render 'shared/container'%>

    <hr />

    <%= render 'shared/footer'%>
  </body>
</html>
