<!DOCTYPE html>
<html>
	<head>
		<title>Combo Execution Trainer</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery-1.6.2.min" %>
		<%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">

			<div id="header"><%= image_tag '3slogo.jpeg' %></div>

			<%= render 'shared/sidebar'%>

			<div id="content">
				<%= yield %>
			</div>

		</div>
	</body>
</html>